In [5]:
import pandas as pd 
run_times=pd.read_excel(r"C:\Users\lzhen\Downloads\Data+Science+in+Python+-+Data+Prep+&+EDA\Data\Run Times.xlsx")

pd.to_numeric(run_times.Fee.str.replace('$',''))

0    0.0
1    0.0
2    2.5
3    0.0
4    2.5
Name: Fee, dtype: float64

In [6]:
run_times.Fee=pd.to_numeric(run_times.Fee.str.replace('$',''))

In [7]:
import pandas as pd 
run_times['Warm Up Time']=run_times['Warm Up Time'].astype('str').str.replace('min','')
run_times['Warm Up Time']=pd.to_numeric(run_times['Warm Up Time'])
run_times['Warm Up Time']

0    3.5
1    3.5
2    3.0
3    2.2
4    2.0
Name: Warm Up Time, dtype: float64

In [4]:
#change true and false to 0 and 1
run_times.Rain.astype('int')

0    0
1    1
2    0
3    0
4    0
Name: Rain, dtype: int64

In [13]:
run_times.Location=run_times['Location'].str.strip('“”').str.lower().str.replace('the ','')
run_times.head()

,Name,Run Time,Warm Up Time,Location,Run Date,Race Date,Rain,Fee
0,Alexis,9.2343,3.5,school,2023-04-15 12:00:00,2023-06-01,False,0.0
1,Alexis,10.3842,3.5,school,2023-04-22 12:30:00,2023-06-01,True,0.0
2,Alexis,8.1209,3.0,gym,2023-05-10 15:00:00,2023-06-01,False,2.5
3,David,7.2123,2.2,school,2023-05-01 15:15:00,2023-06-15,False,0.0
4,David,6.8342,2.0,gym,2023-05-10 16:30:00,2023-06-15,False,2.5