In [3]:
import pyodbc
import pandas as pd

# Establish the database connection
conn = pyodbc.connect(
    "DRIVER={MySQL ODBC 5.3 ANSI Driver};"
    "SERVER=mandj-db-3.mandjchickens.local;"
    "DATABASE=mandj_reports;"
    "UID=mandj_reports_ro;"
    "PWD=Rhaps0dy;"
)

# Define the file path for the output
invoice_file = r"C:\Users\Lee.Zheng\Desktop\AWS_Invoice.xlsx"

# Define and execute the corrected SQL query
query = """
    SELECT DatabaseCode, Document, DocType, InvoiceDate, Week, Month, Customer, Name, BillTo, BillToName, MappingName, 
           PriceGroup, CreatedBy, Product, Description, UnitCode, Level1, Level2, Level3, Level4, Level5, Division, 
           Brand, MeatType, ChickenSize, Cut, Process, Bone, Skin, Portion, PortionSize, Crumb, Temp, PricePerKg, 
           SpecialPrice, BoneProduct, Channel, `NOT-041-REV-NETSALES`, CreditReason, ObsoleteFlag, CostType, CustPo,
           SUM(TotalSale) as GSV, 
           SUM(InvoiceQty) as InvoiceQty,
           -SUM(TotalRebate) as TotalRebate, 
           SUM(TotalKG) as TotalKG, 
           -SUM(MAF) as MAF, 
           -SUM(GLVarRebate) as GLVarRebate, 
           -SUM(TotalPoultry) as TotalPoultry, 
           -SUM(TotalFixed) as TotalFixed,
           -SUM(TotalFixedCosts) as TotalFixedCosts,
           -SUM(TotalRawOther) as TotalRawOther, 
           -SUM(TotalPackaging) as TotalPackaging, 
           -SUM(TotalLabour) as TotalLabour, 
           -SUM(TotalOvertime) as TotalOvertime, 
           -SUM(TotalVariable) as TotalVariable, 
           -SUM(TotalICLogs) as TotalIClogs, 
           -SUM(Freight) as TotalFreight, 
           -SUM(Delivery) as TotalDelivery, 
           -SUM(TotalLabourFixed) as TotalLabourFixed, 
           -SUM(TotalLabourVariable) as TotalLabourVariable, 
           -SUM(TotalVarToGL_Poultry) as TotalVarToGL_Poultry, 
           -SUM(TotalVarToGL_RawOther) as TotalVarToGL_RawOther, 
           -SUM(TotalVarToGL_Packaging) as TotalVarToGL_Packaging, 
           -SUM(TotalVarToGL_Labour) as TotalVarToGL_Labour, 
           -SUM(TotalVarToGL_Overtime) as TotalVarToGL_Overtime,
           -SUM(TotalVarToGL_ICLogs) as TotalVarToGL_ICLogs,
           -SUM(TotalVarToGL_Variable) as TotalVarToGL_Variable,
           -SUM(TotalVarToGL_Fixed) as TotalVarToGL_Fixed,
           -SUM(TotalVarToGL_LabourFixed) as TotalVarToGL_LabourFixed, 
           -SUM(TotalVarToGL_LabourVariable) as TotalVarToGL_LabourVariable
    FROM mandj_reports.aws_invoices
    WHERE InterCompany = 'N' 
          AND Month >= '2024-02-01' 
          AND `NOT-041-REV-NETSALES` IS NULL
          AND (Level1 <> 'Tubs' OR Level1 IS NULL) 
          AND Product <> 'FREIGHT'
    GROUP BY (DatabaseCode, Document, DocType, InvoiceDate, Week, Month, Customer, Name, BillTo, BillToName, MappingName, 
             PriceGroup, CreatedBy, Product, Description, UnitCode, Level1, Level2, Level3, Level4, Level5, Division, 
             Brand, MeatType, ChickenSize, Cut, Process, Bone, Skin, Portion, PortionSize, Crumb, Temp, PricePerKg, 
             SpecialPrice, BoneProduct, Channel, `NOT-041-REV-NETSALES`, CreditReason, ObsoleteFlag, CostType)
"""

# Load result into a DataFrame
invoice_df = pd.read_sql_query(query, conn)

# Save DataFrame to an Excel file
invoice_df.to_excel(invoice_file, index=False)

# Close the database connection
conn.close()

C:\Users\Lee.Zheng\AppData\Local\Temp\ipykernel_14664\2049972620.py:64: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  invoice_df = pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql '
    SELECT DatabaseCode, Document, DocType, InvoiceDate, Week, Month, Customer, Name, BillTo, BillToName, MappingName,
           PriceGroup, CreatedBy, Product, Description, UnitCode, Level1, Level2, Level3, Level4, Level5, Division,
           Brand, MeatType, ChickenSize, Cut, Process, Bone, Skin, Portion, PortionSize, Crumb, Temp, PricePerKg,
           SpecialPrice, BoneProduct, Channel, `NOT-041-REV-NETSALES`, CreditReason, ObsoleteFlag, CostType, CustPo,
           SUM(TotalSale) as GSV,
           SUM(InvoiceQty) as InvoiceQty,
           -SUM(TotalRebate) as TotalRebate,
           SUM(TotalKG) as TotalKG,
           -SUM(MAF) as MAF,
           -SUM(GLVarRebate) as GLVarRebate,
           -SUM(TotalPoultry) as TotalPoultry,
           -SUM(TotalFixed) as TotalFixed,
           -SUM(TotalFixedCosts) as TotalFixedCosts,
           -SUM(TotalRawOther) as TotalRawOther,
           -SUM(TotalPackaging) as TotalPackaging,
           -SUM(TotalLabour) as TotalLabour,
           -SUM(TotalOvertime) as TotalOvertime,
           -SUM(TotalVariable) as TotalVariable,
           -SUM(TotalICLogs) as TotalIClogs,
           -SUM(Freight) as TotalFreight,
           -SUM(Delivery) as TotalDelivery,
           -SUM(TotalLabourFixed) as TotalLabourFixed,
           -SUM(TotalLabourVariable) as TotalLabourVariable,
           -SUM(TotalVarToGL_Poultry) as TotalVarToGL_Poultry,
           -SUM(TotalVarToGL_RawOther) as TotalVarToGL_RawOther,
           -SUM(TotalVarToGL_Packaging) as TotalVarToGL_Packaging,
           -SUM(TotalVarToGL_Labour) as TotalVarToGL_Labour,
           -SUM(TotalVarToGL_Overtime) as TotalVarToGL_Overtime,
           -SUM(TotalVarToGL_ICLogs) as TotalVarToGL_ICLogs,
           -SUM(TotalVarToGL_Variable) as TotalVarToGL_Variable,
           -SUM(TotalVarToGL_Fixed) as TotalVarToGL_Fixed,
           -SUM(TotalVarToGL_LabourFixed) as TotalVarToGL_LabourFixed,
           -SUM(TotalVarToGL_LabourVariable) as TotalVarToGL_LabourVariable
    FROM mandj_reports.aws_invoices
    WHERE InterCompany = 'N'
          AND Month >= '2024-02-01'
          AND `NOT-041-REV-NETSALES` IS NULL
          AND (Level1 <> 'Tubs' OR Level1 IS NULL)
          AND Product <> 'FREIGHT'
    GROUP BY (DatabaseCode, Document, DocType, InvoiceDate, Week, Month, Customer, Name, BillTo, BillToName, MappingName,
             PriceGroup, CreatedBy, Product, Description, UnitCode, Level1, Level2, Level3, Level4, Level5, Division,
             Brand, MeatType, ChickenSize, Cut, Process, Bone, Skin, Portion, PortionSize, Crumb, Temp, PricePerKg,
             SpecialPrice, BoneProduct, Channel, `NOT-041-REV-NETSALES`, CreditReason, ObsoleteFlag, CostType)
': ('HY000', '[HY000] [MySQL][ODBC 5.3(a) Driver][mysqld-5.7.44-log]Operand should contain 1 column(s) (1241) (SQLExecDirectW)')